<h1 class='text-center'>What's New?</h1>
<div class="list-group">
	<%for post in @posts %>
		<div class="list-group-item">
			<%= link_to(post) do %>
				<h2 class="list-group-item-heading"> <%= post.title%> </h2>
			<%end%>
			<%if post.class == Post %>
				<p class="list-group-item-text"><%=post.content%></p>
			<% elsif post.class == Podcast%>
				<p class="list-group-item-text"><%=post.description%></p>
			<% elsif post.class == Photo%>
				<p class="list-group-item-text"><%=post.caption%></p>
				<%= image_tag post.pic.url(:square), :class => 'center-block' %>
			<% end %>
			<div class="list-group-item-text"><strong><%= post.created_at.strftime("%m/%d/%Y") %></strong></div>
		</div>
	<%end%>
</div>