<% provide(:title, 'Photos') %>
<h1 class="text-center">Photo Gallery</h1>
<% @episodes.each do |ep| %>
  <div class="page-header"><h2 class="text-center">Episode <%= ep.id %></h2></div>
<%if ep.photos.count == 0 %>
      <div>No Photos............YET!</div>
    <% else %>
  <% ep.photos.each do |pic| %>
    <div class="row">
      <div class="col-md-6">
        <%= link_to (image_tag pic.pic.url(:thumb)), photo_path(pic) %>
      </div>
      <div class="col-md-6"> 
        <h4><%= pic.title %></h4>
        <p><%=simple_format(pic.caption)%></p> 
      </div>
    </div>
    <br>
  <% end %>
<% end %>
    <% end %>

 <% if can? :create, current_user  %>
  <br>

  <%= link_to 'New Photo', new_photo_path %>
  <% end %>