<% provide(:title, 'Photos') %>


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Pic</th>
      <th>Caption</th>
    </tr>
  </thead>

  <tbody>
	<% @photo.each do |photo| %>
      <tr>
        <td><%= link_to photo.title, photo %></td>
		<!-- display the avatar in both the original size and the thumbnail size -->
        <td><%= image_tag photo.pic.url(:thumb) %></td>
		
		
		<!-- show the filename for the resume -->
        <td><%= photo.caption %></td>
        <% if can? :destroy, current_user %>
         <td> <%= link_to 'Delete', photo , method: :delete %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<br>
<% if can? :create, current_user  %>
<br>

<%= link_to 'New Photo', new_photo_path %>
<% end %>