<%= form_for(@pod) do |f| %>
  <% if @pod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pod.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @pod.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, size: "50" %>
  </div>
  <!-- Upload your attachments via a simple file_fields in the form -->
  <div class="field">
    <%= f.label :audio %><br>
    <%= f.file_field :audio %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, size: "90x10" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', podcasts_path %>