
<h2><%=@pod.title%></h2>
<div>
	<audio controls>
        <source src="<%=@pod.audio.url%>" type="audio/mpeg">
 	</audio>
 	
</div>
<div>
	<%=simple_format@pod.description%>
</div>
<div>
<% if can? :edit, current_user %>
	
		<%= link_to 'Edit | ', edit_podcast_path(@pod) %>
	
<% end %>
<%= link_to 'Back', podcasts_path %>
</div>