<ul class = "nav nav-tabs " style="margin-bottom: 15px;">

  <li class ="active"><a href="#details" data-toggle="tab">Description</a></li>
  <li><a href="#photos" data-toggle="tab">Pictures</a></li>
  <li><a href="#notes" data-toggle="tab">Extras</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade in active" id="details">
		<h2><%=@pod.title%></h2>
		<div>
			<audio controls>
		    	<source src="<%=@pod.audio.url%>" type="audio/mpeg">
			</audio>
		</div>
		<div>
			<%=simple_format(@pod.description)%>
		</div>
	</div>
	<div class="tab-pane fade" id="photos">
		<%if @pod.photos.count == 0 %>
			<div>No Photos............YET!</div>
		<% else %>
	<% @pod.photos.each do |pic| %>
      <div class="row">
        <div class="col-md-6">
          <%= link_to (image_tag pic.pic.url(:thumb)), photo_path(pic) %>
        </div>
        <div class="col-md-6"> 
          <h4><%= link_to pic.title, photo_path(pic) %></h4>
          <p><%=pic.caption%></p> 
        </div>
      </div>
        <hr>
    <% end %>
    <% end %>
	</div>
	<div class="tab-pane fade" id="notes">No Notes................. YET!!!!</div>

</div>
<br><br><br>
<div>
<% if can? :edit, current_user %>
	
		<%= link_to 'Edit | ', edit_podcast_path(@pod) %>
	
<% end %>
<%= link_to 'Back', podcasts_path %>
</div>