<!DOCTYPE html>
<html>
  <head>
  <title>LifeKnocking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Life Knocking", root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Listen", podcasts_path, class: "navbar-btn" %></li>
            <li><%= link_to "Photo Gallery", photos_tabs_path, class: "navbar-btn" %></li>
            <li><%= link_to "News", posts_url, class: "navbar-btn" %></li>
            <li><%= link_to "About Us", about_path, class: "navbar-btn" %></li>
            <li><%= link_to "Contact", contact_url, class: "navbar-btn" %></li>
            <li>
            <% if user_signed_in? %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-btn'  %>
            <%end%>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="jumbotron">

      <h1>Life Knocking</h1>
      <p>Welcome to our podcast. Life Knocking is a weekly podcast brought to you by three friends: Kris, Travis, and Brandon (KTB). What will you do when life comes knocking at your door!?</p>
      <%= link_to (image_tag 'rss.png'), rss_path%>
      <div class="fb-like text-right" data-href="https://www.facebook.com/lkpod" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
    <div class="container">
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
        <div class = "col-md-4">
          <a class="twitter-timeline" href="https://twitter.com/LifeKnocking/lists/members" data-widget-id="467113522829078528">Tweets from https://twitter.com/LifeKnocking/lists/members</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


        </div>
      </div>
    </div>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
